.mainTable {
  background-color: #5a5a5a;
}

.tablerow {
  background-color: rgb(143, 143, 143);
}

thead th,
tfoot th {
  /* font-family: "Rock Salt", cursive; */
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}
